@font-face {
  font-family: 'Inter';
  src: url(AlbertSans-Regular.ttf) format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(AlbertSans-Medium.ttf) format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(AlbertSans-SemiBold.ttf) format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(AlbertSans-Bold.ttf) format('opentype');
  font-weight: 700;
  font-style: normal;
}
