@font-face {
  font-family: 'Inter';
  src: url(Inter_18pt-Regular.ttf) format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(Inter_18pt-Medium.ttf) format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(Inter_18pt-SemiBold.ttf) format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(Inter_18pt-Bold.ttf) format('opentype');
  font-weight: 700;
  font-style: normal;
}
