@font-face {
  font-family: 'Inter';
  src: url(WonderUnitSans-Regular.ttf) format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(WonderUnitSans-Medium.ttf) format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(WonderUnitSans-Semibold.ttf) format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(WonderUnitSans-Bold.ttf) format('opentype');
  font-weight: 700;
  font-style: normal;
}
